.card img{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card .card-body{
    display: flex;
}

.card .card-body .card-text{
    margin: auto;
    color: var(--dark);
}

