.navbar-container{
    height: 80px;
}

.simplebar-block{
    padding-bottom: 30px;
}


h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.devices-block {
    color: var(--dark);
}

.description-image {
    max-height: 300px;
    max-width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab-block {
    padding-left: 15px;
    padding-right: 15px;
}

.tab-content {
    border-radius: .25rem;
}

.tabContent-section{
    padding-bottom: 1rem;
}